<script type="text/javascript" src="/cactus.js"></script>
<link rel="stylesheet" href="/cactus.css" type="text/css">
<div id="comment-section"></div>
<script>
    initComments({
      node: document.getElementById("comment-section"),
      defaultHomeserverUrl: "https://matrix.nikolaiathome.com",
      serverName: "matrix.nikolaiathome.com",
      siteName: "nikolaionmusic.com",
      commentSectionId: "{{ .Page.File.BaseFileName }}",
      guestPostingEnabled: false,
      loginEnabled: false
    })
</script>
